

modparam("htable", "htable", "5xxMap=>size=12;autoexpire=HTABLE_AUTOEXPIRE")

route[FIVEXX] {
	if ($rs =~ "^(50[012345])") {
		$var(5xxKey) = $_s($ci::$rs::$fU::$tU::$var(srcip)::$var(dstip));
		if($sht(5xxMap=>$var(5xxKey)) != $null) $sht(5xxMap=>$var(5xxKey)) = 0;
		$sht(5xxMap=>$var(5xxKey)) = $sht(5xxMap=>$var(5xxKey)) + 1;
	}
}

route[STATS_5xx] {
	$var(stats_elastic)  = "";
	$var(stats_influxdb) = "";
	$var(type) = "stats_5xx";

	sht_iterator_start("i1", "5xxMap");
	while (sht_iterator_next("i1")) {
		$var(id)       = $(shtitkey(i1){s.select,0,:});
		$var(response) = $(shtitkey(i1){s.select,2,:});
		$var(from)     = $(shtitkey(i1){s.select,4,:});
		$var(to)       = $(shtitkey(i1){s.select,6,:});
		$var(inip)     = $(shtitkey(i1){s.select,8,:});
		$var(outip)    = $(shtitkey(i1){s.select,10,:});
		$var(value)    = $shtitval(i1);

		jansson_set("string", "host", "$var(host)", "$var(tmp_json)");
		jansson_set("string", "id", "$var(id)", "$var(tmp_json)");
		jansson_set("integer", "response", "$var(response)", "$var(tmp_json)");
		jansson_set("string", "from", "$var(from)", "$var(tmp_json)");
		jansson_set("string", "to", "$var(to)", "$var(tmp_json)");
		jansson_set("string", "srcIP", "$var(inip)", "$var(tmp_json)");
		jansson_set("string", "dstIP", "$var(outip)", "$var(tmp_json)");
		jansson_set("integer", "value", "$var(value)", "$var(tmp_json)");

		#!ifdef DO_ELASTICSEARCH
		jansson_set("string", "timestamp", "$var(elasticTime)", "$var(tmp_json)");
		$var(stats_elastic) = $var(stats_elastic) + " {\"index\": {\"_index\":\"homer-"+ $timef(%d.%m.%Y) +"\",\"_type\":\""+$var(type)+"\" }}\n";
		$var(stats_elastic) = $var(stats_elastic) + $var(tmp_json) + "\n";
		#!endif

		#!ifdef DO_GRAYLOG
		jansson_set("real", "timestamp", "$var(graylogTime)", "$var(tmp_json)");
		jansson_set("string", "short_message", "$var(type)", "$var(tmp_json)");
		$var(graylog_body) = $var(tmp_json);
		route(HTTP_POST);
		#!endif

		#!ifdef DO_INFLUXDB
		$var(stats_influxdb) = $_s($var(stats_influxdb)$var(type),$var(influxdbHost),response=$var(response) );
		$var(stats_influxdb) = $_s($var(stats_influxdb)id="$var(id)",from="$var(from)",to="$var(to)",srcIP="$var(inip)",dstIP="$var(outip)",value=$var(value) $var(influxdbTime)) + "\n";
		#!endif

		$var(tmp_json) = 0;
		$var(graylog_body) = "";
	}
	sht_iterator_end("i1");
	sht_rm_name_re("5xxMap=>.*");

	$var(elasticsearch_body) = $var(stats_elastic);
	$var(influxdb_body) = $var(stats_influxdb);

	$var(bulk) = 1;
	route(HTTP_POST);
	$var(bulk) = 0;
}